# Data Set Exploration
In this notebook, we explore summary statistics of data sets.

In [1]:
%load_ext autoreload
%autoreload 2
import matplotlib

matplotlib.rcParams['pdf.fonttype'] = 42
matplotlib.rcParams['ps.fonttype'] = 42

In [2]:
import sys

sys.path.append("../../")

import numpy as np

from src.utils import load_tssb_datasets, load_datasets
import seaborn as sns

sns.set_theme()
sns.set_color_codes()

In [3]:
df_data = load_tssb_datasets()
df_data

,dataset,window_size,change_points,labels,time_series
0,Adiac,10,"[572, 1012, 1232]","[0, 1, 2, 4]","[1.681146, 1.383394, 1.029389, 0.688386, 0.354..."
1,ArrowHead,10,[753],"[0, 1]","[-1.957721, -1.858082, -1.657983, -1.420794, -..."
2,Beef,50,[705],"[0, 1]","[-0.380818, -0.352238, -0.295392, -0.225041, -..."
3,BeetleFly,10,[1280],"[0, 1]","[1.114805, 0.774403, 0.477129, 0.115781, -0.24..."
4,BirdChicken,20,[1280],"[0, 1]","[1.697714, 1.439032, 1.22287, 0.99708, 0.76479..."
...,...,...,...,...,...
70,UWaveGestureLibraryX,10,"[600, 1131, 1652, 2193]","[0, 1, 2, 3, 4]","[-0.889766, 0.722005, 0.869297, -0.553167, -0...."
71,UWaveGestureLibraryY,10,"[600, 1131, 1652, 2193]","[0, 1, 2, 3, 4]","[-1.523467, -0.106794, 0.190361, 0.979247, 0.3..."
72,UWaveGestureLibraryZ,10,"[600, 1131, 1652, 2193]","[0, 1, 2, 3, 4]","[-0.527058, 0.416111, -0.524027, 0.41141, 0.12..."
73,WordSynonyms,10,"[202, 2227]","[0, 1, 2]","[-1.183581, -0.514028, -0.480539, -0.394855, -..."
74,Yoga,10,[7295],"[0, 1]","[-0.155803, -0.33899, -0.564977, -0.667323, -0..."

Let's first calculate some statistics about the TS.

In [4]:
f"Number of TS: {df_data.shape[0]}"

'Number of TS: 75'

In [5]:
f"Number of Dimensions: {df_data.time_series.iloc[0].shape}"

'Number of Dimensions: (1408,)'

In [6]:
f"TS Length (Min/Median/Max): ({df_data.time_series.apply(len).min()} / {df_data.time_series.apply(len).median()} / {df_data.time_series.apply(len).max()})"

'TS Length (Min/Median/Max): (240 / 3456.0 / 20700)'

In [7]:
f"No. of States (Min/Median/Max): ({df_data.labels.apply(lambda x: np.unique(x).shape[0]).min()} / {df_data.labels.apply(lambda x: np.unique(x).shape[0]).median()} / {df_data.labels.apply(lambda x: np.unique(x).shape[0]).max()})"

'No. of States (Min/Median/Max): (1 / 3.0 / 7)'

In [8]:
f"No. of Segments (Min/Median/Max): ({df_data.change_points.apply(lambda x: x.shape[0] + 1).min()} / {df_data.change_points.apply(lambda x: x.shape[0] + 1).median()} / {df_data.change_points.apply(lambda x: x.shape[0] + 1).max()})"

'No. of Segments (Min/Median/Max): (1 / 3.0 / 9)'