# Data Set Exploration
In this notebook, we explore summary statistics of data sets.

In [9]:
%load_ext autoreload
%autoreload 2
import matplotlib

matplotlib.rcParams['pdf.fonttype'] = 42
matplotlib.rcParams['ps.fonttype'] = 42

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
import sys

sys.path.append("../../")

import numpy as np
import pandas as pd

from src.utils import load_tssb_datasets, load_datasets, load_has_datasets
import seaborn as sns

sns.set_theme()
sns.set_color_codes()

In [11]:
df_data = pd.concat([load_tssb_datasets(), load_datasets("UTSA"), load_has_datasets(), load_datasets("SKAB"), load_datasets("MIT-BIH")])
df_data

,dataset,window_size,change_points,labels,time_series
0,Adiac,10,"[572, 1012, 1232]","[0, 1, 2, 4]","[1.681146, 1.383394, 1.029389, 0.688386, 0.354..."
1,ArrowHead,10,[753],"[0, 1]","[-1.957721, -1.858082, -1.657983, -1.420794, -..."
2,Beef,50,[705],"[0, 1]","[-0.380818, -0.352238, -0.295392, -0.225041, -..."
3,BeetleFly,10,[1280],"[0, 1]","[1.114805, 0.774403, 0.477129, 0.115781, -0.24..."
4,BirdChicken,20,[1280],"[0, 1]","[1.697714, 1.439032, 1.22287, 0.99708, 0.76479..."
...,...,...,...,...,...
9,MIT-BIH_MLII_Subject222,360,"[195781, 200671, 206245, 210412, 218349, 22337...","[3, 1, 3, 4, 3, 4, 3, 1, 4, 3]","[0.0032119677807876134, 0.0020895463785035743,..."
10,MIT-BIH_MLII_Subject223,360,"[43517, 63343, 99043, 113076]","[3, 4, 3, 4, 3]","[-0.049031850550078956, -0.05076120045704893, ..."
11,MIT-BIH_MLII_Subject228,360,"[6192, 12198, 33580, 65258, 85047, 98572, 1301...","[3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3]","[-0.020731579066852395, -0.019700706017852697,..."
12,MIT-BIH_MLII_Subject231,360,"[35142, 117397, 203001, 290985, 348915, 363485...","[4, 0, 4, 0, 4, 0, 4, 0, 4]","[0.005321496979707904, 0.0041901525426282435, ..."
13,MIT-BIH_MLII_Subject234,360,"[304425, 313772]","[2, 1, 2]","[-0.03219871742084271, -0.032082564012646114, ..."

Let's first calculate some statistics about the TS.

In [12]:
f"Number of TS: {df_data.shape[0]}"

'Number of TS: 405'

In [13]:
f"Number of Dimensions: {df_data.time_series.iloc[0].shape}"

'Number of Dimensions: (1408,)'

In [14]:
f"TS Length (Min/Median/Max): ({df_data.time_series.apply(len).min()} / {df_data.time_series.apply(len).median()} / {df_data.time_series.apply(len).max()})"

'TS Length (Min/Median/Max): (240 / 4838.0 / 650000)'

In [15]:
f"No. of States (Min/Median/Max): ({df_data.labels.apply(lambda x: np.unique(x).shape[0]).min()} / {df_data.labels.apply(lambda x: np.unique(x).shape[0]).median()} / {df_data.labels.apply(lambda x: np.unique(x).shape[0]).max()})"

'No. of States (Min/Median/Max): (1 / 3.0 / 12)'

In [16]:
f"No. of Segments (Min/Median/Max): ({df_data.change_points.apply(lambda x: x.shape[0] + 1).min()} / {df_data.change_points.apply(lambda x: x.shape[0] + 1).median()} / {df_data.change_points.apply(lambda x: x.shape[0] + 1).max()})"

'No. of Segments (Min/Median/Max): (1 / 3.0 / 16)'