# CLaP Example Visualization
In this notebook, we visualize an example of CLaP.

In [36]:
# fot type settings for paper plots
import matplotlib
matplotlib.rcParams['pdf.fonttype'] = 42
matplotlib.rcParams['ps.fonttype'] = 42

In [37]:
import sys
sys.path.append("../../")

import numpy as np
import pandas as pd

from src.utils import load_tssb_datasets, load_has_datasets, load_datasets
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import f1_score

from src.visualization import plot_state_detection
from src.clap import CLaP

sns.set_theme()
sns.set_color_codes()

import os

In [38]:
df_data = load_has_datasets()
df_data

,dataset,window_size,change_points,labels,time_series
0,indoor_subject1_routine1 (id125),50,"[1461, 2952, 4473, 5022, 6460]","[1, 0, 1, 2, 0, 3]","[[0.5025029458177382, 0.78151899859646, 0.4075..."
1,indoor_subject1_routine1 (id140),50,"[772, 2056, 3521, 4835, 5283, 6893]","[2, 1, 3, 1, 2, 0, 3]","[[0.41870591057777035, 0.8157450984128195, 0.3..."
2,indoor_subject1_routine1 (id93),50,"[1211, 2043, 2836, 3529, 4036]","[2, 4, 0, 1, 3, 4]","[[0.6809143354242022, 0.8390696507060063, 0.34..."
3,indoor_subject1_routine1 (id52),50,"[739, 1433, 2044, 2875, 3589]","[0, 1, 2, 3, 1, 0]","[[0.5215244935774459, 0.7310931419213416, 0.50..."
4,indoor_subject1_routine1 (id221),50,"[1506, 3033, 4477, 5348, 6805]","[2, 0, 2, 3, 0, 1]","[[0.48401058282315657, 0.6748131355527517, 0.5..."
...,...,...,...,...,...
245,outdoor_subject7_routine3 (id26),50,[],[0],"[[0.7491045845272207, 0.5873851669280753, 0.53..."
246,outdoor_subject7_routine3 (id48),50,[],[0],"[[0.07761887299841085, 0.9513191404126248, 0.3..."
247,outdoor_subject7_routine3 (id78),50,"[529, 1778]","[1, 0, 1]","[[0.48061181058716396, 0.5648863723314714, 1.0..."
248,outdoor_subject7_routine3 (id163),50,[],[0],"[[0.17304133251079593, 0.8704303563165199, 0.2..."
249,outdoor_subject7_routine3 (id47),50,[3533],"[0, 1]","[[0.27734466588511136, 0.5333349661996669, 0.2..."

Let's first calculate some statistics about the TS.

In [39]:
f"Number of TS: {df_data.shape[0]}"

'Number of TS: 250'

In [43]:
f"Number of Dimensions: {df_data.time_series.iloc[0].shape[1]}"

'Number of Dimensions: 9'

In [40]:
f"TS Length (Min/Median/Max): ({df_data.time_series.apply(len).min()} / {df_data.time_series.apply(len).median()} / {df_data.time_series.apply(len).max()})"

'TS Length (Min/Median/Max): (340 / 4985.5 / 41465)'

In [41]:
f"No. of States (Min/Median/Max): ({df_data.labels.apply(lambda x: np.unique(x).shape[0]).min()} / {df_data.labels.apply(lambda x: np.unique(x).shape[0]).median()} / {df_data.labels.apply(lambda x: np.unique(x).shape[0]).max()})"

'No. of States (Min/Median/Max): (1 / 3.0 / 12)'

(7948, 9)